[Unit]
Description=Caddy Reverse Proxy
Documentation=https://caddyserver.com/
After=network-online.target
Wants=network-online.target

[Container]
AutoUpdate=local
Image=localhost/caddy:latest
ContainerName=caddy

Network=homelab

PublishPort=443:443/tcp
PublishPort=443:443/udp
PublishPort=80:80

Volume=./config/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=caddy-data:/data:Z
Volume=caddy-config:/config:Z
EnvironmentFile=%h/homelab/.env

Network=def-net

[Service]
Restart=always
TimeoutStartSec=90
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
