[Unit]
Description=Technitium DNS Server
Documentation=https://technitium.com/dns/
After=network-online.target
Wants=network-online.target

[Container]
AutoUpdate=registry
Image=docker.io/technitium/dns-server:latest
ContainerName=technitium

Network=homelab

PublishPort=5380:5380/tcp
PublishPort=53443:53443/tcp
PublishPort=53:53/udp
# This avoids conflicts with podman dns!
PublishPort=127.0.0.1:53:53/udp
PublishPort=192.168.0.100:53:53/udp
#
PublishPort=53:53/tcp
PublishPort=853:853/tcp
PublishPort=44343:44343/udp
PublishPort=44343:44343/tcp

Volume=dns:/etc/dns:Z
Volume=./certs:/certs:ro,Z

Environment=HOSTNAME=dns-server
Environment=DNS_SERVER_DOMAIN=dns-server
Environment=DNS_SERVER_WEB_SERVICE_HTTP_PORT=5380
Environment=DNS_SERVER_WEB_SERVICE_HTTPS_PORT=53443
Environment=DNS_SERVER_WEB_SERVICE_ENABLE_HTTPS=true
Environment=DNS_SERVER_WEB_SERVICE_USE_SELF_SIGNED_CERT=true
Environment=DNS_SERVER_WEB_SERVICE_HTTP_TO_TLS_REDIRECT=true
Environment=DNS_SERVER_ENABLE_BLOCKING=true
Environment=DNS_SERVER_ALLOW_TXT_BLOCKING_REPORT=true
Environment=DNS_SERVER_BLOCK_LIST_URLS=https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts,https://blocklistproject.github.io/Lists/ads.txt
Environment=DNS_SERVER_FORWARDERS=1.1.1.1,8.8.8.8
Environment=DNS_SERVER_FORWARDER_PROTOCOL=Tls
Environment=DNS_SERVER_LOG_USING_LOCAL_TIME=true

[Service]
Restart=always
TimeoutStartSec=90
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
