[Unit]
Description=Tailscale
Documentation=https://tailscale.com/docs/
After=network-online.target
Wants=network-online.target

[Container]
AutoUpdate=registry
Image=docker.io/tailscale/tailscale:latest
ContainerName=tailscale

Network=host

AddDevice=/dev/net/tun:/dev/net/tun

AddCapability=CAP_NET_ADMIN
AddCapability=CAP_NET_RAW

PublishPort=41641:41641/udp

Volume=tailscale:/var/lib/tailscale

Environment=TS_AUTH_KEY=${TAILSCALE_AUTH_KEY}
Environment=TS_HOSTNAME=fedora-server
Environment=TS_ACCEPT_DNS=false
Environment=TS_USERSPACE=false
Environment=TS_ROUTES=192.168.0.0/24
Environment=TS_EXTRA_ARGS=--advertise-exit-node
Environment=TS_NO_LOGS_NO_SUPPORT=true
Environment=TS_STATE_DIR=/var/lib/tailscale

[Service]
EnvironmentFile=%h/homelab/.env
Restart=always
TimeoutStartSec=90
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
