[Unit]
Description=Minecraft Server (itzg/minecraft-server)
Documentation=https://github.com/itzg/docker-minecraft-server
After=network-online.target
Wants=network-online.target

[Container]
AutoUpdate=registry
Image=docker.io/itzg/minecraft-server:latest
ContainerName=minecraft

Network=homelab

PublishPort=25565:25565

Volume=mc-data:/data:Z

Environment=EULA=TRUE
Environment=TYPE=MODRINTH
Environment=MODRINTH_MODPACK=adrenaline
Environment=MODRINTH_DEFAULT_VERSION_TYPE=release
Environment=MODRINTH_LOADER=fabric
Environment=MEMORY=4096M
Environment=USE_MEOWICE_FLAGS=true
Environment=TZ=Europe/London
Environment=DIFFICULTY=2
Environment=OPS=Player1
Environment=ENABLE_WHITELIST=true
Environment=WHITELIST=Player1
Environment=MODRINTH_PROJECTS=axiom,terralith,tectonic,incendium:alpha,nullscape,lithostitched,sparsestructures
Environment=ENABLE_ROLLING_LOGS=true
Environment=LOG_TIMESTAMP=true

[Service]
Restart=always
TimeoutStartSec=90
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
