[Unit]
Description=Tailscale
Documentation=https://tailscale.com/docs/

[Container]
AutoUpdate=registry
ContainerName=tailscale-dns
Image=docker.io/tailscale/tailscale:latest

# Environment variables.
Environment=TS_AUTH_KEY=${TAILSCALE_AUTH_KEY}
Environment=TS_HOSTNAME=fedora-server-dns
Environment=TS_ACCEPT_DNS=false
Environment=TS_USERSPACE=false
Environment=TS_ROUTES=192.168.0.0/24
Environment=TS_NO_LOGS_NO_SUPPORT=true
Environment=TS_STATE_DIR=/var/lib/tailscale

Volume=tailscale-dns:/var/lib/tailscale

AddDevice=/dev/net/tun:/dev/net/tun
AddCapability=CAP_NET_ADMIN
AddCapability=CAP_NET_RAW

Pod=dns.pod

Sysctl=net.ipv4.ip_forward=1
Sysctl=net.ipv6.conf.all.forwarding=1

[Service]
Restart=always
TimeoutStartSec=90
TimeoutStopSec=30
EnvironmentFile=%h/homelab/.env

[Install]
WantedBy=default.target
