[Unit]
Description=Technitium Recursive DNS Server
Documentation=https://technitium.com/dns/

[Container]
AutoUpdate=registry
ContainerName=technitium
Image=docker.io/technitium/dns-server:latest

# Environment variables.  Can also be setup via web console once server is started, including admin password set at first access of the web console
Environment=HOSTNAME=dns-server
Environment=DNS_SERVER_DOMAIN=dns-server
Environment=DNS_SERVER_WEB_SERVICE_HTTP_PORT=5380
Environment=DNS_SERVER_WEB_SERVICE_HTTPS_PORT=53443 #The TCP port number for the DNS web console over HTTPS protocol.
Environment=DNS_SERVER_WEB_SERVICE_ENABLE_HTTPS=true #Enables HTTPS for the DNS web console.
Environment=DNS_SERVER_WEB_SERVICE_USE_SELF_SIGNED_CERT=true #Enables self signed TLS certificate for the DNS web console.
Environment=DNS_SERVER_WEB_SERVICE_HTTP_TO_TLS_REDIRECT=true #Enables HTTP to HTTPS redirection for the DNS web console.
Environment=DNS_SERVER_ENABLE_BLOCKING=true #Sets the DNS server to block domain names using Blocked Zone and Block List Zone.
Environment=DNS_SERVER_ALLOW_TXT_BLOCKING_REPORT=true #Specifies if the DNS Server should respond with TXT records containing a blocked domain report for TXT type requests.
Environment=DNS_SERVER_BLOCK_LIST_URLS=https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts,https://blocklistproject.github.io/Lists/ads.txt #A comma separated list of block list URLs.
Environment=DNS_SERVER_FORWARDERS=1.1.1.1,8.8.8.8 #Comma separated list of forwarder addresses.
Environment=DNS_SERVER_FORWARDER_PROTOCOL=Tls #Forwarder protocol options: Udp, Tcp, Tls, Https, HttpsJson.
Environment=DNS_SERVER_LOG_USING_LOCAL_TIME=true #Enable this option to use local time instead of UTC for logging.

Volume=dns:/etc/dns
Volume=./certs:/certs:ro,Z

Pod=dns.pod

[Service]
Restart=always
TimeoutStartSec=90
TimeoutStopSec=30

[Install]
WantedBy=default.target
