[Unit]
Description=Dynamic DNS (ddclient)
Documentation=https://ddclient.net/
After=network-online.target
Wants=network-online.target

[Container]
AutoUpdate=registry
Image=docker.io/linuxserver/ddclient:latest
ContainerName=ddns

Network=homelab

Volume=./config:/config:Z
EnvironmentFile=%h/homelab/.env

[Service]
Restart=always
TimeoutStartSec=90
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
