[Unit]
Description=Glance
Documentation=https://github.com/glanceapp/glance/tree/main
After=network-online.target
Wants=network-online.target

[Container]
AutoUpdate=registry
Image=docker.io/glanceapp/glance:latest
ContainerName=glance

Network=homelab

PublishPort=8080:8080

Volume=./config:/app/config:Z
Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:Z
EnvironmentFile=%h/homelab/.env

[Service]
Restart=always
TimeoutStartSec=90
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
