[Unit]
Description=Glance
Documentation=https://github.com/glanceapp/glance/tree/main

[Container]
AutoUpdate=registry
ContainerName=glance
Image=docker.io/glanceapp/glance:latest

PublishPort=8080:8080

EnvironmentFile=%h/homelab/.env

Volume=./config:/app/config:Z
Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:Z

Network=def-net

[Service]
Restart=always
TimeoutStartSec=90
TimeoutStopSec=30

[Install]
WantedBy=default.target
