[Unit]
Description=Caddy Reverse Proxy
Documentation=https://caddyserver.com/

[Container]
AutoUpdate=local
ContainerName=caddy
Image=localhost/caddy:latest

PublishPort=443:443/tcp
PublishPort=443:443/udp
PublishPort=80:80

EnvironmentFile=%h/homelab/.env

Volume=./config/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=caddy-data:/data:Z
Volume=caddy-config:/config:Z

Network=def-net

[Service]
Restart=always
TimeoutStartSec=90
TimeoutStopSec=30

[Install]
WantedBy=default.target
